body {
}

.Faq {
	font-size: 22px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	
	}

	.left {
		text-align: left;
	}
	
.Logo {
    height:100%;
    width: auto;
    padding: 0;
    padding-left: 10%;
    margin: 0;
}

.Margin {
    margin-top: 5%;
}

.Middle {
    text-align: center;
}

#facebook:hover  {
    color: #4965A0 !important;
}


#services, #meettheteam {
    background: url(photography.png);
}

.maps {
    height: 400px;
}

#twitter:hover  {
    color: #55ACEE !important;
}

#instagram, #instagram:visited,#twitter, #twitter:visited , #facebook,#facebook:visited, #flickr, #flickr:visited{
    color: black ;
}

#instagram:hover  {
    color: #125688 !important;
}

#flickr:hover  {
    color: #FF0084 !important;
}


.Committee {
    text-align: center;
    font-weight: bold;
}

.CommitteePos {
    text-align: center;
}

.CommitteePhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    
}

.BioButtons {
    vertical-align: initial !important;
}

.Centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

