body {
}

.Logo {
    height:100%;
    width: auto;
    padding: 0;
    padding-left: 10%;
    margin: 0;
}

.Margin {
    margin-top: 5%;
}

.Middle {
    text-align: center;
}

#facebook:hover  {
    color: #4965A0 !important;
}


#services {
    background: url(photography.png);

}

.maps {
    height: 400px;
}

#twitter:hover  {
    color: #55ACEE !important;
}

#instagram, #instagram:visited,#twitter, #twitter:visited , #facebook,#facebook:visited, #flickr, #flickr:visited{
    color: black ;
}

#instagram:hover  {
    color: #125688 !important;
}

#flickr:hover  {
    color: #FF0084 !important;
}

